body {
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 25px;
    min-height: 2500px;
}

.navbar {
    background: rgb(21,45,113);
    background: linear-gradient(18deg, rgba(21,45,113,1) 14%, rgba(20,228,125,1) 93%);
    
}


#contact {
    height: 350px;
    padding-top:55px ;
}



footer {
    background: rgb(21,45,113);
    background: linear-gradient(18deg, rgba(21,45,113,1) 14%, rgba(20,228,125,1) 93%);
}

